.Categories {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    color: white;
}

.active {
    border: solid 1px white;
    color: white
}

.Categories Link:hover {
    color: lightgrey
}

.Categories Link {
    color: white;
}

.inactive {
    color: white;
    font-weight: bold;
}